---
import {
  CodeBracketsSquare as IconCode,
  Discord as IconDiscord,
  Github as IconGitHub,
  GitlabFull as IconGitlab,
  Internet as IconInternet,
  Youtube as IconYouTube
} from "iconoir-react";
import ocBig from "~/assets/mitsu_oc_big.png";
import ocSmall from "~/assets/mitsu_oc_small.png";
import { IconMastodon } from "~/components/IconMastodon";
import { IconPronounsPage } from "~/components/IconPronounsPage";
import { IconSteam } from "~/components/IconSteam";
import HeroSection from "~/components/landing/HeroSection.astro";
import ProjectsItem from "~/components/landing/ProjectsItem.astro";
import ProjectsSection from "~/components/landing/ProjectsSection.astro";
import SocialsGrid from "~/components/landing/SocialsGrid.astro";
import SocialsItem from "~/components/landing/SocialsItem.astro";
import Picture from "~/components/Picture.astro";
import Section from "~/components/Section.astro";
import Page from "~/layouts/Page.astro";
---

<Page
  title="Mitsunee"
  description="Web developer, music-addict and Linux user from Germany">
  <HeroSection>
    <Picture image={ocBig} alt="Mitsunee" class="ocBig" />
    <Picture image={ocSmall} alt="Mitsunee" class="ocSmall" />
    <div>
      <h1>Mitsunee</h1>
      <p>Web developer, music-addict and Linux user from Germany</p>
      <SocialsGrid>
        <SocialsItem
          href="https://ieji.de/@mitsunee"
          icon={IconMastodon}
          aria-label="Mastodon"
          rel="me"
          style={{ "--primary": "#6364FF" }}
        />
        <SocialsItem
          href="https://en.pronouns.page/@mitsunee"
          icon={IconPronounsPage}
          rel="me"
          aria-label="Pronouns.page"
          style={{ "--primary": "#c71585" }}
        />
        <SocialsItem
          href="https://github.com/Mitsunee"
          icon={IconGitHub}
          aria-label="Github"
        />
        <SocialsItem
          href="https://gitlab.com/mitsunee"
          icon={IconGitlab}
          aria-label="Gitlab"
        />
        <SocialsItem
          href="https://youtube.com/@mitsunee_"
          icon={IconYouTube}
          aria-label="YouTube"
          style={{ "--primary": "red" }}
        />
        <SocialsItem
          href="https://discord.com/users/140002643878739968"
          icon={IconDiscord}
          aria-label="Discord Profile"
          style={{ "--primary": "#5865F2" }}
        />
        <SocialsItem
          href="https://steamcommunity.com/id/mitsunee/"
          icon={IconSteam}
          aria-label="Steam"
        />
      </SocialsGrid>
    </div>
  </HeroSection>
  <Section background>
    <h2>About me</h2>
    <p>
      I play Fate/Grand Order, Honkai Star Rail and collect Rubik's
      Cube-inspired puzzles and Anime plush dolls/<wbr />Nesoberi. I listen to
      Metal, sometimes Drum&Bass or Hardstyle, and watch way too much YouTube.
      Sometimes I also try to create pixelart such as my current profile
      picture.
    </p>
    <p>
      I've been tinkering with web development since childhood and started
      learning JavaScript (and later Node.js) around 2016. In 2019 I switched
      from Windows 7 to Linux (currently Fedora KDE Spin) and never looked back.
    </p>
    <p>
      I'm Agenderfluid/<wbr />Transfemme (she/they, fluctuating between female
      and agender, aka Femflux) and came out online in 2015, though I'm still
      mostly “boymoding” in reallife.
    </p>
  </Section>
  <ProjectsSection title="My Projects">
    <ProjectsItem
      title="Mitsunee | Blog"
      icon={IconInternet}
      href="https://blog.mitsunee.com">
      <p>
        My personal blog where I post guides and rants about my hobbies, Linux,
        tech, coding and games.
      </p>
    </ProjectsItem>
    <ProjectsItem
      title="Foxkit"
      icon={IconCode}
      href="https://github.com/foxkit-js">
      <p>
        Collection of Configs and modules to reduce copypasting between my
        projects as well as providing known good versions of common modules.
      </p>
    </ProjectsItem>
    <ProjectsItem
      title="Pokemon Gen3 Damage Calculator"
      icon={IconInternet}
      href="https://www.mitsunee.com/gen3dmgcalc"
      class="pkmn">
      <p>
        Damage calculator for the third generation of Pokémon games for GBA
        (R/S/E, FR/LG) and Gamecube (Colosseum/XD).
      </p>
    </ProjectsItem>
  </ProjectsSection>
</Page>

<style is:global>
  .ocBig {
    display: none;
  }

  .ocSmall {
    display: block;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin: auto;
  }

  .pkmn {
    background-image: url(/assets/bgpkmn.jpg);
    background-size: cover;
    color: var(--black);
    --primary: #00b0f0;
  }

  @media (--mq-medium) {
    .ocBig {
      display: block;
    }
    .ocSmall {
      display: none;
    }
  }
</style>
