---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";
import "@fontsource/lexend/700.css";
import type { PageMeta } from "~/types/meta";

interface Props extends PageMeta {}
const url = Astro.url.pathname;
const pageIcon = "https://www.mitsunee.com/assets/icons/icon-192.png";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="Mitsunee" />
    <meta property="og:site_name" content="Mitsunee" />
    {Astro.props.noRobots && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={`https://www.mitsunee.com${url}`} />
    <title>{Astro.props.title}</title>
    <meta property="og:title" content={Astro.props.title} />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="description" content={Astro.props.title} />
    <meta property="og:description" content={Astro.props.title} />
    <meta name="twitter:description" content={Astro.props.title} />
    <meta property="og:image" content={pageIcon} />
    <meta name="twitter:image" content={pageIcon} />
    <meta name="twitter:author" content="@Mitsunee" />
    <meta name="theme-color" content="#ffbb5c" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --dark: #1c1e21;
    --grey: #363230;
    --highlight: #373a43;
    --primary: #fbeff0;
    --accent: #ffbb5c;
    --hover: #e05281;
    --font-sans: "Atkinson Hyperlegible";
    --font-title: "Lexend";
    --speed: 250ms;
    --ease: ease-out;
    --hover-scale: 1.075;
    --bar-height: 4rem;
    --icon-size: 3rem;
    --content-width: min(90vw, 1480px);
  }

  html,
  body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--grey);
    color: var(--primary);
    font-family: var(--font-sans), sans-serif;
    line-height: 1.3em;
  }

  * {
    box-sizing: border-box;
    line-height: 1.3em;
  }

  a {
    text-decoration: underline;
    color: var(--primary);
    transition: color var(--speed) var(--ease);
    &:hover {
      color: var(--hover);
    }
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-title);
    font-weight: 700;
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }

  button,
  input {
    font-family: inherit;
  }

  .content-section {
    width: 100%;
    max-width: var(--content-width);
    margin: 1rem auto;
  }

  .content-columns {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;

    @media (--mq-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      gap: 1rem;
    }
  }

  .headline {
    width: max-content;
    max-width: 100%;
    background-color: var(--dark);
    margin: 0.5rem 0px;
    padding: 0.25rem 0.75rem;
  }

  p {
    text-align: justify;
  }
</style>
