---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";
import "@fontsource/lexend/700.css";
import "~/styles/app.css";
import type { PageMeta } from "~/types/meta";

type Props = PageMeta;
const pageIcon = `${Astro.url.origin}/assets/icons/icon-192.png`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="Mitsunee" />
    <meta property="og:site_name" content="Mitsunee" />
    {Astro.props.noRobots && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={Astro.url.href} />
    <title>{Astro.props.title}</title>
    <meta property="og:title" content={Astro.props.title} />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="description" content={Astro.props.description} />
    <meta property="og:description" content={Astro.props.description} />
    <meta name="twitter:description" content={Astro.props.description} />
    <meta property="og:image" content={pageIcon} />
    <meta name="twitter:image" content={pageIcon} />
    <meta name="twitter:author" content="@Mitsunee" />
    <meta name="theme-color" content="#ffbb5c" />
    <script src="../stores/theme.ts"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
